        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        /*  style symbols*/
        
        @font-face {
            font-family: fa-solid;
            src: url(../fonts/fa-solid-900.ttf);
        }
        
        @font-face {
            font-family: fa-brands;
            src: url(../fonts/fa-brands-400.ttf);
        }
        /* TYPOGRAPHY */
        
        @font-face {
            font-family: eurofurence-regular;
            src: url(../fonts/eurofurence.ttf);
        }
        
        @font-face {
            font-family: lato-regular;
            src: url(../fonts/Lato-Regular.ttf);
        }
        
        @font-face {
            font-family: lato-bold;
            src: url(../fonts/Lato-Bold.ttf);
        }
        /* BASIC */
        
        html {
            font-family: lato-regular;
        }
        
        body {
            min-width: 450px;
        }
        
        ul {
            list-style-type: none
        }
        
        img {
            width: 100%;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            /* margin: 0 0 .333em; */
            font-weight: 400;
            line-height: 1.071;
        }
        
        p {
            margin-bottom: 1.75em;
            line-height: 1.25;
            font-size: 1rem;
            /* letter-spacing: 0.53rem; */
        }
        
        a {
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
        }
        /* LAYOUT */
        
        .main-container {
            max-width: 980px;
            margin: 0 auto;
        }
        /* COMPONENTS */
        /* header */
        
        .header-main {
            background-color: #292929;
            border: solid 1px #707070;
            box-shadow: 0px 3px 6px 0px #1d1d1d
        }
        /* container-nav-hader */
        
        .container-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        /* logo header */
        
        .font-eurofurence-regular {
            font-family: eurofurence-regular;
        }
        
        .header-main .logo {
            font-size: 2.5rem;
            color: #FFFFFF;
        }
        
        .logo span {
            color: #58C93A;
        }
        /* main-nav */
        
        .nav-main {
            list-style-type: none;
            text-align: center;
            font-size: 1rem;
        }
        
        .nav-main a {
            color: #FFFFFF;
            width: 8.25rem;
            height: 8.25rem;
        }
        
        .nav-main a:hover {
            color: #58C93A;
        }
        
        .nav-main li a:active {
            color: coral;
        }
        
        .nav-main .selected-green-color {
            color: #58C93A;
        }
        
        .selected-green-border {
            border-bottom: 2px solid #58C93A;
        }
        /* .dropdown */
        
        .dropdown {
            color: #58C93A;
            background-color: #292929;
            position: absolute;
            transition: height 1s;
            overflow: hidden;
            margin-top: 7px;
            height: 0;
        }
        
        .dropdown li {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 8.25rem;
        }
        /* font bord lato */
        
        .font-bord {
            font-family: lato-bold;
        }
        /* card */
        
        .card-container-txt h2 {
            font-size: 1.75rem;
            margin-bottom: 1.78em;
        }
        
        .card-container-txt button {
            height: 40px;
            /* width: 186px; */
            margin-top: 10px;
            padding: 5px 10px;
            color: #C2C1C1;
            border: 2px solid #C2C2C2;
            background-color: #00000000;
            font-size: 1rem;
            border-radius: 3em;
        }
        
        .card-container-txt button:hover {
            border: 2px solid #58C93A;
            color: #58C93A;
            cursor: pointer;
        }
        
        .card-container-txt .read-card:hover::after {
            font-family: fa-solid;
            content: '\f30b';
        }
        /* modal read more */
        
        .read-more-modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #729269;
            border-radius: 10px;
            text-align: center;
            display: none;
            padding: 20px;
        }
        
        .read-more-modal>* {
            margin-bottom: 20px;
        }
        
        body.modal-open .read-more-modal {
            display: block;
        }
        
        .read-more-modal :first-child {
            text-align: end;
            cursor: pointer;
            color: yellow;
        }
        /* nav naxt prev page */
        
        .nav-next-preious {
            display: flex;
            justify-content: space-between;
            height: 75px;
            border-top: #E1E0E0 solid 1px;
            color: #818181;
        }
        
        .previous-nav {
            height: 100%;
            margin-inline-start: 29px;
            font-size: 1.12rem;
            display: flex;
            align-items: center;
        }
        
        .next-nav {
            height: 100%;
            margin-inline-end: 29px;
            font-size: 1.12rem;
            display: flex;
            align-items: center;
        }
        
        .hover:hover {
            color: #58C93A;
            cursor: pointer;
        }
        
        .main-footer {
            height: 315px;
            background-color: #F8F8F8;
        }
        
        .footer-contect {
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .footer-contect h3 {
            margin-bottom: 30px;
            font-size: 2.5rem;
            color: #292929;
        }
        
        .cofferights span {
            color: #939292;
        }
        
        .cofferights {
            margin-bottom: 40px;
            font-size: .812rem;
            color: #A6A6A6;
        }
        
        .logo-footer span {
            color: #58C93A;
        }
        
        .social-nav {
            display: flex;
            list-style-type: none;
            font-family: fa-brands;
        }
        
        .flex-center-social {
            background-color: #E5E5E5;
            color: #ffffff;
            height: 40px;
            width: 40px;
            margin-left: 14px;
            margin-right: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .flex-center-social:hover {
            background-color: #516FAD;
            border: 1px solid #707070;
            cursor: pointer;
        }
        
        .flex-center-social:active {
            background-color: #58C93A;
        }
        
        .facebook::before {
            content: '\f39e';
        }
        
        .twiter::before {
            content: '\f099';
        }
        
        .twiter::before {
            content: '\f099';
        }
        
        .twiter::before {
            content: '\f099';
        }
        
        .be::before {
            content: '\f1b4';
        }
        
        .ball::before {
            content: '\f17d';
        }
        /* screens */
        
        .main-screen,
        .main-screen-modal {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: #29292967;
            cursor: pointer;
            pointer-events: none;
            opacity: 0;
            transition: opacity .6s;
        }
        
        body.menu-open .main-screen {
            pointer-events: auto;
            opacity: 1;
        }
        
        body.modal-open .main-screen-modal {
            pointer-events: auto;
            opacity: 1;
        }
        /* mobile S */
        
        @media (max-width:740px) {
            html {
                font-size: 20px;
            }
            .header-main {
                height: 131px;
            }
            .container-nav {
                padding-top: 38px;
                justify-content: space-evenly;
            }
            .nav-main {
                background-color: #292929;
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                width: 200px;
                transform: translateX(100%);
                transition: transform .8s, box-shadow .9s;
            }
            body.menu-open .nav-main {
                transform: translateX(0);
            }
            .dropdown {
                width: 100%;
            }
            .btn-menu {
                margin-inline-end: 40px;
                font-size: 2rem;
                height: 50px;
                width: 50px;

-webkit-appearance: none;

            }
            .btn-menu::before {
                font-family: fa-solid;
                content: '\f0c9';
            }
            .btn-menu:hover {
                background-color: rgb(0, 0, 0);
                color: yellow;
                cursor: pointer;
            }
            .logo {
                margin-left: 30px;
            }
            .nav-main>li {
                height: 55px;
                margin-top: 25px;
            }
            .nav-main .selected-green-border:hover .dropdown {
                height: 100%;
            }
            .main-content {
                margin-top: 40px;
            }
            .main-content .card {
                margin-bottom: 60px;
                padding-inline-start: 30px;
                padding-inline-end: 30px;
            }
            .card-container-txt {
                margin-top: 25px;
            }
            .card-container-txt button {
                border-radius: 39px 2px 36px;
                padding: 5px 28px;
            }
            .read-more-modal {
                height: 100%;
                width: 100%;
                padding: 25%;
            }
        }
        /* tablet  M*/
        
        @media (min-width:740px) {
            .nav-main {
                display: flex;
            }
            .nav-main a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .nav-main .selected-green-border:hover .dropdown {
                height: 25rem;
            }
            .dropdown li {
                width: 8.25rem;
            }
            .main-content .card {
                margin-bottom: 40px;
                padding: 0 70px;
            }
            .main-content {
                padding-top: 40px;
                border-bottom: #E1E0E0 1px solid;
            }
            .card-container-txt {
                margin-top: 20px;
            }
            .logo {
                margin-left: 30px;
            }
            .btn-menu {
                display: none;
            }
            .read-more-modal {
                height: 450px;
                width: 400px;
            }
        }
        /* desktop/tablet  L*/
        
        @media (min-width:840px) {
            .main-container {
                max-width: 823px;
            }
            html {
                font-size: 20px;
            }
            .logo {
                margin-left: 0px;
            }
            .main-content .card {
                display: flex;
                margin-bottom: 80px;
                padding: 0;
            }
            .card-container-txt {
                margin-inline-start: 40px;
                margin-top: 0px;
            }
            .card img {
                object-fit: none;
            }
        }
        /* desktop  XL*/
        
        @media (min-width:1020px) {
            .main-container {
                max-width: 980px;
            }
            html {
                font-size: 16px;
            }
            .main-content {
                padding-top: 80px;
                border-right: #e1e0e0 1px solid;
                border-left: #E1E0E0 1px solid;
                border-bottom: #E1E0E0 1px solid;
            }
        }
